body {
    font-family: 'Karla', sans-serif;
    font-size : 24px;
    font-weight: bold;
}

.navbar{
    background-color:#546e7a;
    padding: 10px;
}

.nav-link {
    color: whitesmoke;
    pointer-events: cursor;
}

.nav-link:hover{
    color:#f9fbe7;
    font-size: 30px;
    font-weight: bodler;

}